doctype html
html(lang='en')
  head
    title= title
    style(type="text/css").
      body { 
        color: green;
      }
    block scripts
  body
    .scroll-section
        block content
            h2 The Title
    block foot